@import "tailwindcss";

html{
  scroll-behavior: smooth;
}
:root  {
  margin:0;
  padding:0;
  --primary-color: #070F2B;
  --secondary-color: #E8E8E8;
}

* {
  font-family: 'League Spartan', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: screen;
  background-color: var(--primary-color);
  background-image: radial-gradient(#ffffff33 1px, #00091d 1px);
  background-size: 20px 20px;
  background-repeat: repeat;
  position: relative;
  z-index: -2;
}

